// compiling scss: sass --sourcemap=none --watch scss/style.scss:style.css

$color-white: white;
$color-grey: rgb(47,64,71);
$color-grey-darker: rgb(27,40,48);
$color-grey-darkest: darken($color-grey-darker, 10%);
$color-primary: rgb(50,152,128);
$color-secondary: rgb(51,79,152);

.text-primary {
    color: $color-primary;
}

.text-secondary {
    color: $color-secondary;
}

.clear {
    clear: both;
}

html {
    scroll-behavior: smooth;
}

body, h1, h2, h3, h3, h4, h5, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    background-color: $color-grey-darker;
}

span, a {
    display: inline-block;
}

.clear {
    clear: both;
}

.loading-modal {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: $color-secondary;
    z-index: 9999;
}

.introduction {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 10;
    .introduction-segments {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        .segment {
            height: 20%;
            width: 100%;
            // background-image: linear-gradient(to right, $color-primary, $color-secondary);
            background-color: $color-secondary;
            background-position: center;
            background-size: cover;
        }
        div:nth-child(even) {
            transform: translateX(100%);
        }
        div:nth-child(odd) {
            transform: translateX(-100%);
        }
    }
    .introduction-title {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        h1 {
            font-size: 1.6em;
            font-weight: 500;
            color: $color-white;
            line-height: 0;
        }
    }
}

a.link {
    color: $color-white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin: 0 1rem;
    line-height: 0;
    &.name {
        margin: 0 0 0 1rem;
        border-right: 2px solid $color-primary;
        padding: .5rem 1rem .5rem 0;
        font-weight: 700;
        @media(max-width: 479px) {
            display: none;
        }
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.pin-tl {
    top: 0;
    left: 0;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

main {
    width: 100%;
    .navigation {
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0; right: 0;
        padding: 0 1rem;
        z-index: 5;
        color: $color-white;
        background-color: $color-grey-darker;
        @media(max-width: 479px) {
            padding: 0 .5rem;
        }
        .menu-icon {
            margin: 0 1rem;
            line-height: 0;
            cursor: pointer;
            position: relative;
            width: 24px;
            height: 24px;
            svg {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .navigation-text {
            white-space:nowrap;
            transform: translateX(-20px) scale(0);
            transform-origin: left center;
            opacity: 0;
            margin-left: 1rem;
            font-weight: 500;
        }
    }
    .content {
        margin: 0 auto;
    }
}

.menu {
    position: fixed;
    top: 4rem; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    z-index: 1;
    transform: translateY(-100%);
    .menu-filter {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: $color-primary;
        transform: translateY(-100%);
    }
    a.link {
        margin: 2rem 0;
        display: block;
        font-size: 3.2em;
        font-weight: 700;
        position: relative;
    }
}

.section {
    width: 40%;
    // margin: 0 0 0 20%;
    margin: 0 auto;
    padding: 12rem 0;

    h2 {
        font-size: 3.2em;
        line-height: 1.2;
        font-weight: 700;
        margin-bottom: 1rem;
        color: $color-white;
    }

    p {
        color: $color-white;
        line-height: 1.6;
        font-size: 1em;
        margin-bottom: .75rem;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            color: $color-white;
            font-weight: 700;
            text-decoration: underline;
        }
    }    

    @media(max-width: 1279px) {
        width: 60%;
        margin: 0 auto;
    }

    @media(max-width: 767px) {
        width: 80%;
    }

    @media(max-width: 479px) {
        width: 85%;
        padding: 6rem 0;
        h2 {
            font-size: 2em;
        }
    }

}

a.btn, button.btn {
    border: 2px solid $color-primary;
    padding: .4rem 1.6rem;
    color: $color-white;
    font-weight: 500;
    margin-right: .5rem;
    margin-bottom: .5rem;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    background-color: rgba(0,0,0,0);
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    cursor:pointer;
    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background-color: $color-primary;
        transform: translateX(-100%);
        z-index: -1;
        transition: .1s all ease;
    }
    &:hover {
        &::before {
            transform: translateX(0);
            transition: .2s all ease;
        }
    }
}

button.btn {
    display: flex;
    align-items: center;
}

#introduction {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    // background-image: linear-gradient(to bottom right, $color-grey-darker, $color-grey-darkest);
    // background-color: $color-grey-darker;
    background-image: url('./pic.jpg');
    background-position: bottom center;
    background-size: cover;

    .filter {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: $color-grey-darker;
        opacity: .95;
    }

    .section {
        margin-top: 6rem;
        margin-bottom: 6rem;
        padding: 0;
    }

    .cta {
        margin-top: 1.5rem;
    }
}

#aboutme {
    background-color: $color-primary;
    // background-image: linear-gradient(to bottom right, $color-primary, darken($color-primary, 10%));
}

#skills {
    background-color: $color-grey-darker;
    // background-image: linear-gradient(to bottom right, $color-grey-darker, $color-grey-darkest);
    .cards {
        display: flex;
        @media(max-width: 479px) {
            flex-direction: column;
            .card {
                margin-bottom: 3rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        width: 100%;
        .card {
            display: flex;
            width: 100%;
            color: $color-white;
            svg {
                display: inline-block;
                margin-right: 1.5rem;
            }
            h3 {
                margin-top: .5rem;
                font-size: 1.4em;
                display: inline-block;
                width: 100%;
                margin-bottom: 1rem;
                line-height: 1;
                padding-bottom: 1rem;
                border-bottom: 2px solid $color-secondary;
            }
            p {
                line-height: 1.8;
            }
        }
    }
}

#work {
    background-color: $color-secondary;
    // background-image: linear-gradient(to bottom right, $color-secondary, darken($color-secondary, 10%));
}

#contact {
    background-color: $color-grey-darker;
    form {
        margin-top: 2rem;
        input[type=text], input[type=email], textarea {
            width: 100%;
            background-color: darken($color-grey-darker,4%);
            border: 1px solid darken($color-grey-darker,8%);
            border-radius: 3px;
            padding: .75rem;
            font-family: 'Heebo', sans-serif;
            font-size: 16px;
            margin-bottom: 1rem;
            box-sizing: border-box;
            font-weight: 500;
            color: $color-white;
            outline-color: $color-primary;
            &::placeholder {
                color: $color-white;
                opacity: .25;
            }
        }
        textarea {
            resize: none;
        }
        button {
            float: right;
            margin: 0;
            svg {
                margin-right: 1rem;
                margin-left: -.25rem;
                transform: rotate(45deg);
            }
        }
    }
}

.footer {
    padding: 1rem;
    text-align: center;
    background-image: linear-gradient(to bottom right, $color-primary, darken($color-primary, 10%));
    p {
        display: flex;
        justify-content: center;
        color: $color-white;
        @media(max-width: 479px) {
            flex-direction: column;
            line-height: 1;
        }
        span {
            margin: 0 .5rem;
        }
    }
}

