body {
  font-family: 'Montserrat', sans-serif;
  background-color: #D5F2E3;
  overflow-x: hidden;
  font-size: 0.95em; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

h1, h2, h3, h4, h5, p, ul, li, body {
  margin: 0;
  padding: 0; }

.section {
  display: flex;
  align-items: center;
  justify-content: center; }

#home {
  width: 100vw;
  min-height: 100vh;
  position: relative; }
  #home .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left top, rgba(17, 21, 28, 0.75) 0%, rgba(7, 30, 34, 0.75) 100%);
    z-index: 0; }
  #home .background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("img/pic_bw.png");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: -1; }
  #home #home-inner {
    color: #D5F2E3;
    z-index: 1; }
    #home #home-inner h1 {
      text-transform: uppercase;
      font-size: 4em;
      font-weight: 700;
      margin-bottom: 1rem; }
      #home #home-inner h1 span {
        visibility: hidden;
        transform: scaleX(0.001);
        letter-spacing: -100px; }
    #home #home-inner h2 {
      font-size: 1.4em;
      font-weight: 500; }
      #home #home-inner h2 span {
        visibility: hidden;
        transform: scaleX(0.01);
        letter-spacing: -100px; }
    #home #home-inner p {
      font-size: 0.9em;
      font-weight: 400;
      line-height: 1.8em;
      opacity: 0; }
      #home #home-inner p span {
        color: #ce3c0f;
        background-color: #11151C;
        padding: 0.2rem 0;
        font-weight: 700; }
      #home #home-inner p .color2 {
        color: #18ce0f; }
    #home #home-inner .visible {
      opacity: 0.9;
      transition: 1s all ease; }
    #home #home-inner .fade-up {
      margin-top: -1.6em;
      opacity: 0;
      transition: 1s all ease; }

#story {
  padding: 12rem 0;
  color: #D5F2E3;
  background-color: #071E22; }
  #story #story-inner {
    width: 50%; }
    #story #story-inner .content {
      opacity: 0; }
    #story #story-inner h1 {
      text-transform: uppercase;
      font-size: 8em;
      font-weight: 700;
      line-height: 1em; }
      #story #story-inner h1 span {
        visibility: hidden;
        transform: scaleX(0.01);
        letter-spacing: -100px; }
    #story #story-inner p {
      font-size: 0.9em;
      font-weight: 400;
      line-height: 2em; }
      #story #story-inner p span {
        color: #18ce0f;
        background-color: #11151C;
        padding: 0.2rem 0;
        font-weight: 700; }
    #story #story-inner .visible {
      opacity: 1;
      transition: 1s all ease; }
    #story #story-inner .fade-out {
      opacity: 0.2;
      transition: 1s all ease; }

#skills {
  background-color: #D5F2E3;
  color: #11151C; }
  #skills #skills-inner {
    width: 100%;
    position: relative; }
    #skills #skills-inner .content {
      opacity: 0; }
    #skills #skills-inner h1 {
      position: absolute;
      text-transform: uppercase;
      font-size: 8em;
      font-weight: 700;
      line-height: 1em;
      width: 50%;
      left: 25%;
      padding-top: 12rem;
      margin: 0 auto; }
      #skills #skills-inner h1 span {
        visibility: hidden;
        transform: scaleX(0.01);
        letter-spacing: -100px; }
    #skills #skills-inner p {
      font-size: 0.9em;
      font-weight: 300;
      line-height: 1.8em; }
    #skills #skills-inner .skill-items {
      width: 100%;
      z-index: 1; }
      #skills #skills-inner .skill-items .skill {
        height: 100%;
        width: calc(100%/3);
        text-align: center;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 12rem 0; }
        #skills #skills-inner .skill-items .skill h3 {
          font-size: 1.6em;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0.5rem;
          background-color: #11151C;
          margin-bottom: 3rem;
          color: #ce3c0f; }
        #skills #skills-inner .skill-items .skill ul {
          list-style-type: none;
          line-height: 2em;
          font-weight: 400;
          font-size: 1em; }
      #skills #skills-inner .skill-items .darker {
        background-color: rgba(7, 30, 34, 0.05); }
        #skills #skills-inner .skill-items .darker h3 {
          color: #18ce0f; }
      #skills #skills-inner .skill-items .othercolor h3 {
        color: #ce0f78; }
    #skills #skills-inner .visible {
      opacity: 1;
      transition: 0.6s all ease; }
    #skills #skills-inner .fade-out {
      opacity: 0;
      transition: 0.6s all ease; }

#work {
  color: #D5F2E3;
  background-color: #11151C; }
  #work #work-inner {
    width: 100%;
    height: 100%;
    position: relative; }
    #work #work-inner .content {
      opacity: 0; }
    #work #work-inner h1 {
      position: absolute;
      text-transform: uppercase;
      font-size: 8em;
      font-weight: 700;
      line-height: 1em;
      width: 50%;
      left: 25%;
      padding-top: 12rem;
      margin: 0 auto; }
      #work #work-inner h1 span {
        visibility: hidden;
        transform: scaleX(0.01);
        letter-spacing: -100px; }
    #work #work-inner p {
      font-size: 0.9em;
      font-weight: 300;
      line-height: 1.8em; }
    #work #work-inner #work-main {
      width: 100vw;
      position: relative;
      transition: 1.2s all ease-in-out; }
      #work #work-inner #work-main .single-work {
        width: 17.6vw;
        height: 17.6vw;
        margin-top: 2vw;
        margin-left: 2vw;
        float: left;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        opacity: 1; }
        #work #work-inner #work-main .single-work img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scale(1.01);
          transition: 0.3s all ease; }
        #work #work-inner #work-main .single-work .single-work-inner {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(17, 21, 28, 0.9);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          opacity: 0;
          transition: 0.3s all ease; }
          #work #work-inner #work-main .single-work .single-work-inner p {
            color: #D5F2E3;
            width: 100%;
            padding: 2rem;
            font-size: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center; }
        #work #work-inner #work-main .single-work .single-work-tag {
          position: absolute;
          width: auto;
          top: 0;
          font-weight: 700;
          padding: 0.5rem;
          margin: 0.5rem;
          color: #D5F2E3;
          z-index: 2;
          background-color: #11151C;
          text-transform: uppercase; }
      #work #work-inner #work-main .single-work:last-child {
        margin-bottom: 2rem; }
      #work #work-inner #work-main .single-work:hover img {
        transform: scale(1.1);
        transition: 0.3s all ease; }
      #work #work-inner #work-main .single-work:hover .single-work-inner {
        opacity: 1;
        transition: 0.3s all ease; }
      #work #work-inner #work-main .grow {
        margin-left: 0;
        margin-top: 0;
        width: 20vw;
        height: 20vw;
        transition: 0.6s all ease;
        margin-bottom: 0 !important; }
      #work #work-inner #work-main .color-work .single-work-tag {
        opacity: 0;
        transition: 0.2s all ease; }
      #work #work-inner #work-main .color-work .single-work-inner {
        opacity: 1;
        background-color: #11151C;
        transition: 0.3s all ease; }
        #work #work-inner #work-main .color-work .single-work-inner p {
          opacity: 0; }
      #work #work-inner #work-main #work-details {
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        color: #D5F2E3; }
        #work #work-inner #work-main #work-details .work-details-inner {
          width: 90%;
          height: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row; }
          #work #work-inner #work-main #work-details .work-details-inner .text {
            width: 40%;
            margin: 0 auto; }
            #work #work-inner #work-main #work-details .work-details-inner .text h4 {
              text-transform: uppercase;
              font-size: 2em;
              font-weight: 700;
              line-height: 1.2em;
              margin-bottom: 1rem; }
              #work #work-inner #work-main #work-details .work-details-inner .text h4 span {
                visibility: hidden;
                transform: scaleX(0.01);
                letter-spacing: -100px; }
            #work #work-inner #work-main #work-details .work-details-inner .text p {
              font-size: 0.9em;
              font-weight: 300;
              line-height: 1.8em; }
          #work #work-inner #work-main #work-details .work-details-inner .work-img {
            height: 80%;
            width: 40%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; }
    #work #work-inner .visible {
      opacity: 1;
      transition: 1s all ease; }
    #work #work-inner .fade-out {
      opacity: 0;
      transition: 0.6s all ease; }

#contact {
  padding: 12rem 0;
  color: #11151C;
  background-color: #D5F2E3; }
  #contact #contact-inner {
    width: 50%; }
    #contact #contact-inner .content {
      opacity: 0; }
    #contact #contact-inner h1 {
      text-transform: uppercase;
      font-size: 8em;
      font-weight: 700;
      line-height: 1em; }
      #contact #contact-inner h1 span {
        visibility: hidden;
        transform: scaleX(0.01);
        letter-spacing: -100px; }
    #contact #contact-inner p {
      font-size: 0.9em;
      font-weight: 500;
      line-height: 2em; }
      #contact #contact-inner p span {
        color: #ce3c0f;
        background-color: rgba(17, 21, 28, 0.1);
        padding: 0.2rem 0;
        font-weight: 700; }
    #contact #contact-inner .visible {
      opacity: 0.9;
      transition: 1s all ease; }
    #contact #contact-inner .fade-out {
      opacity: 0.1;
      transition: 1s all ease; }

#footer {
  background-color: #11151C; }
  #footer p {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    color: #D5F2E3; }
