// scss to css: sass --sourcemap=none --watch style.scss:style.css

// https://coolors.co/18ce0f-071e22-d5f2e3-11151c-6e0d25

$dark: #11151C; //rgb(17,21,28)
$light: #D5F2E3;
$primary: #18ce0f;
$secondary: #071E22; //rgb(7,30,34)
$contrast: #ce3c0f;
$other: #ce0f78;

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $light;
  overflow-x: hidden;
  font-size: 0.95em;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

h1, h2, h3, h4, h5, p, ul, li, body {
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left top, rgba(17,21,28,0.75) 0%, rgba(7,30,34,0.75) 100%);
    z-index: 0;
  }
  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('img/pic_bw.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  #home-inner {
    color: $light;
    z-index: 1;
    h1 {
      text-transform: uppercase;
      font-size: 4em;
      font-weight: 700;
      margin-bottom: 1rem;
      span {
        visibility: hidden;
        transform: scaleX(0.001);
        letter-spacing: -100px;
      }
    }
    h2 {
      font-size: 1.4em;
      font-weight: 500;
      span {
        visibility: hidden;
        transform: scaleX(0.01);
        letter-spacing: -100px;
      }
    }
    p {
      font-size: 0.9em;
      font-weight: 400;
      line-height: 1.8em;
      opacity: 0;
      span {
        color: $contrast;
        background-color: $dark;
        padding: 0.2rem 0;
        font-weight: 700;
      }
      .color2 {
        color: $primary;
      }
    }
    .visible {
      opacity: 0.9;
      transition: 1s all ease;
    }
    .fade-up {
      margin-top: -1.6em;
      opacity: 0;
      transition: 1s all ease;
    }
  }
}

#story {
  padding: 12rem 0;
  color: $light;
  background-color: $secondary;
  #story-inner {
    width: 50%;
    .content {
      opacity: 0;
    }
    h1 {
      text-transform: uppercase;
      font-size: 8em;
      font-weight: 700;
      line-height: 1em;
      span {
        visibility: hidden;
        transform: scaleX(0.01);
        letter-spacing: -100px;
      }
    }
    p {
      font-size: 0.9em;
      font-weight: 400;
      line-height: 2em;
      span {
        color: $primary;
        background-color: $dark;
        padding: 0.2rem 0;
        font-weight: 700;
      }
    }
    .visible {
      opacity: 1;
      transition: 1s all ease;
    }
    .fade-out {
      opacity: 0.2;
      transition: 1s all ease;
    }
  }
}

#skills {
  background-color: $light;
  color: $dark;
  #skills-inner {
    width: 100%;
    position: relative;
    .content {
      opacity: 0;
    }
    h1 {
      position: absolute;
      text-transform: uppercase;
      font-size: 8em;
      font-weight: 700;
      line-height: 1em;
      width: 50%;
      left: 25%;
      padding-top: 12rem;
      margin: 0 auto;
      span {
        visibility: hidden;
        transform: scaleX(0.01);
        letter-spacing: -100px;
      }
    }
    p {
      font-size: 0.9em;
      font-weight: 300;
      line-height: 1.8em;
    }
    .skill-items {
      width: 100%;
      z-index: 1;
      .skill {
        height: 100%;
        width: calc(100%/3);
        text-align: center;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 12rem 0;
        h3 {
          font-size: 1.6em;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0.5rem;
          background-color: $dark;
          margin-bottom: 3rem;
          color: $contrast;
        }
        ul {
          list-style-type: none;
          line-height: 2em;
          font-weight: 400;
          font-size: 1em;
        }
      }
      .darker {
        background-color: transparentize($secondary, 0.95);;
        h3 {
          color: $primary;
        }
      }
      .othercolor {
        h3 {
          color: $other;
        }
      }
    }
    .visible {
      opacity: 1;
      transition: 0.6s all ease;
    }
    .fade-out {
      opacity: 0;
      transition: 0.6s all ease;
    }
  }
}

#work {
  // padding-bottom: 2rem;
  color: $light;
  background-color: $dark;
  #work-inner {
    width: 100%;
    height: 100%;
    position: relative;
    .content {
      opacity: 0;
    }
    h1 {
      position: absolute;
      text-transform: uppercase;
      font-size: 8em;
      font-weight: 700;
      line-height: 1em;
      width: 50%;
      left: 25%;
      padding-top: 12rem;
      margin: 0 auto;
      span {
        visibility: hidden;
        transform: scaleX(0.01);
        letter-spacing: -100px;
      }
    }
    p {
      font-size: 0.9em;
      font-weight: 300;
      line-height: 1.8em;
    }
    #work-main {
      width: 100vw;
      position: relative;
      transition: 1.2s all ease-in-out;
      .single-work {
        width: 17.6vw;
        height: 17.6vw;
        margin-top: 2vw;
        margin-left: 2vw;
        float: left;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        opacity: 1;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scale(1.01);
          transition: 0.3s all ease;
        }
        .single-work-inner {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: transparentize($dark, 0.1);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;
          opacity: 0;
          transition: 0.3s all ease;
          p {
            color: $light;
            width: 100%;
            padding: 2rem;
            font-size: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
          }
        }
        .single-work-tag {
          position: absolute;
          width: auto;
          top: 0;
          font-weight: 700;
          padding: 0.5rem;
          margin: 0.5rem;
          color: $light;
          z-index: 2;
          background-color: $dark;
          text-transform: uppercase;
        }
      }
      .single-work:last-child {
        margin-bottom: 2rem;
      }
      .single-work:hover {
        img {
          transform: scale(1.1);
          transition: 0.3s all ease;
        }
        .single-work-inner {
          opacity: 1;
          transition: 0.3s all ease;
        }
      }
      .grow {
        margin-left: 0;
        margin-top: 0;
        width: 20vw;
        height: 20vw;
        transition: 0.6s all ease;
        margin-bottom: 0 !important;
      }
      .color-work {
        .single-work-tag {
          opacity: 0;
          transition: 0.2s all ease;
        }
        .single-work-inner {
          opacity: 1;
          background-color: $dark;
          transition: 0.3s all ease;
          p {
            opacity: 0;
          }
        }
      }
      #work-details {
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        color: $light;
        .work-details-inner {
          width: 90%;
          height: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          .text {
            width: 40%;
            margin: 0 auto;
            h4 {
              text-transform: uppercase;
              font-size: 2em;
              font-weight: 700;
              line-height: 1.2em;
              margin-bottom: 1rem;
              span {
                visibility: hidden;
                transform: scaleX(0.01);
                letter-spacing: -100px;
              }
            }
            p {
              font-size: 0.9em;
              font-weight: 300;
              line-height: 1.8em;
            }
          }
          .work-img {
            height: 80%;
            width: 40%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }
    .visible {
      opacity: 1;
      transition: 1s all ease;
    }
    .fade-out {
      opacity: 0;
      transition: 0.6s all ease;
    }
  }
}

#contact {
  padding: 12rem 0;
  color: $dark;
  background-color: $light;
  #contact-inner {
    width: 50%;
    .content {
      opacity: 0;
    }
    h1 {
      text-transform: uppercase;
      font-size: 8em;
      font-weight: 700;
      line-height: 1em;
      span {
        visibility: hidden;
        transform: scaleX(0.01);
        letter-spacing: -100px;
      }
    }
    p {
      font-size: 0.9em;
      font-weight: 500;
      line-height: 2em;
      span {
        color: $contrast;
        background-color: transparentize($dark, 0.9);
        padding: 0.2rem 0;
        font-weight: 700;
      }
    }
    .visible {
      opacity: 0.9;
      transition: 1s all ease;
    }
    .fade-out {
      opacity: 0.1;
      transition: 1s all ease;
    }
  }
}

#footer {
  background-color: $dark;
  p {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    color: $light;
  }
}
