<!DOCTYPE html>
<html>
  <!-- Everything on this website is written by myself. Take a look at the code if you'd like! :) -->
  <head>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#11151c">
    <meta name="theme-color" content="#11151c">
    <!-- Rest -->
    <title>Tijs Verellen</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="../style/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head>
  <body>

    <div id="menu-icon-wrapper">
      <div id="menu-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>

    <div id="navigation">
      <a href="/">home</a>
    </div>

    <div id="cv">
      <h1>Cirriculum Vitae</h1>
      <p>
        Tijs Verellen - 23 jaar - Front-end developer & crossmedia designer
      </p>
      <div id="cv-inner">
        <div id="cv-inner-left">
          <h2>Persoonlijke informatie</h2>
          <ul>
            <li>
              <i class="fas fa-map-marker-alt"></i>Merelstraat 15, 2590 Berlaar
            </li>
            <li>
              <i class="fas fa-phone"></i>+32 496 966 199
            </li>
            <li>
              <i class="fas fa-envelope"></i>tijs.verellen@hotmail.com
            </li>
            <li>
              <i class="fas fa-birthday-cake"></i>11 Februari 1995
            </li>
            <li>
              <i class="fas fa-male"></i>Man
            </li>
            <li>
              <i class="fas fa-globe"></i>Belg
            </li>
          </ul>
          <h2>Talenkennis</h2>
          <ul>
            <li>
              Nederlands <span class="fade">- Moedertaal</span>
            </li>
            <li>
              Engels - <span class="fade">Zeer goed</span>
            </li>
            <li>
              Frans - <span class="fade">Goed</span>
            </li>
          </ul>
          <h2>Hobby's</h2>
          <ul>
            <li>
              Films & series
            </li>
            <li>
              Muziek
            </li>
            <li>
              Games
            </li>
            <li>
              Design & development
            </li>
          </ul>
        </div>
        <div id="cv-inner-right">
          <h2>Opleidingen</h2>
          <ul>
            <li>
              Instituut Heilig Hart Van Maria Berlaar, Wetenschappen-wiskunde <br><span class="fade">2007-2013</span>
            </li>
            <li>
              AP Hogeschool Antwerpen, Grafische en Digitale Media (Crossmedia Ontwerp, met onderscheiding) <br><span class="fade">2014-2017</span>
            </li>
            <li>
              Universiteit Antwerpen, 1BACH Informatica <br><span class="fade">2017-2018</span>
            </li>
            <li>
              SAMWD Lier, Lagere graad (grootste onderscheiding) en Middelbare graad (AMC, akkoordenleer en samenspel), Alt Saxofoon <br><span class="fade">2003-2013</span>
            </li>
          </ul>
          <h2>Werkervaring</h2>
          <ul>
            <li>
              Jobstudent, Delhaize Berlaar, Bakkerij <br><span class="fade">2011 & 2012 (augustus)</span>
            </li>
            <li>
              Stage, Zenjoy Leuven, Grafisch ontwerper (flyers, app design, banners etc) en frontend developer <br><span class="fade">2016 (zes weken)</span>
            </li>
            <li>
              Jobstudent, Zenjoy Leuven, Grafisch ontwerper <br><span class="fade">2016 (augustus + academie-jaar)</span>
            </li>
            <li>
              Stage, Zenjoy Leuven, Front-end developer <br><span class="fade">2017 (negen weken)</span>
            </li>
            <li>
              Zelfstandige opdrachten, ondersteunend Youtube kanaal (flyers, banners, video-editing, 3D-ontwerp en Speed Arts) <br><span class="fade">2010-2018</span>
            </li>
          </ul>
          <h2>Vaardigheden</h2>
          <ul>
            <li>
              <span>Software:</span> Photoshop, Illustrator, Indesign, After Effects, Sketch, 3DS Max, Cinema 4D, Word, Excel, Sublime Text, Atom, PyCharm, CLion, Terminal...
            </li>
            <li>
              <span>Technologiën:</span> Python, C++, HTML5, Haml, CSS3, Bootstrap, Sass, JavaScript, jQuery, Node.js, Express, MongoDB, Mongoose, Liquid, Pug, EJS, WordPress, Github, UNIX...
            </li>
            <li>
              <span>Others:</span> UX, Usability, Marketing for digital media, Teamplayer
            </li>
          </ul>
        </div>
      </div>

    </div>

    <script src="../js/cv.js"></script>
  </body>
</html>
